@import url('https://fonts.googleapis.com/css2?family=REM:wght@100&family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=REM&display=swap');


*{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   font-family: 'Bricolage Grotesque', sans-serif;
   list-style: none;

}

body{

    background-image: url(banco-de-imagens/fundoconective.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-color: black;

}

h1{

    color: rgb(255, 255, 255);
}

p{

    color: rgb(194, 194, 194);


}

li{

    color: rgb(194, 194, 194);


}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 5;
	}
}

@keyframes entrada {

    0%{

        transform: translateX(-1000px) scale(1.0);
    
    }

    50%{
    
        transform: translateX(-100px) scale(1.1);
    
    }

    100%{

        transform: translateX(0px) scale(1.1);;
    
    
    }


}


header {
    background-color: transparent;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logotipo {
    display: flex;
    height: 120px;
    justify-self: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10rem;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.nav-item {
    margin: 0 15px;
    font-family: 'Bricolage Grotesque', sans-serif;
    transition: 1s;
}

.nav-item:hover{

    transition: 1s;
    background: linear-gradient(90deg, #5E25FF 15%,#5E25FF 15% , #FF0000 );
    padding: 10px;
    border-radius: 20px;


}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


#home{

    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.titulo{


    display: block;
    background-image: linear-gradient(to bottom, #150259 15%, #9D0022);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 3rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    text-shadow: 0.1em 0.1em  rgb(255, 255, 255) ;
    font-weight: bolder;
    font-weight: bolder;
    padding-left: 3rem;
    padding-block: 3rem;
    font-size: 45px;
    width: 0%;
    z-index: 2;
    

}

.titulo::after{
    content: "|";

}

.paragrafo{


    display: flex;
    justify-content: center;
    text-align: center;
    padding-inline: 3rem;
    font-size: 17px;
    color: #fff;
    text-shadow: 1px 1px   black ;
    font-weight: 300;


}


.zap{

    display: flex;
    padding-inline: 15rem;
}


.btn-zap{

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: bolder;
    box-shadow: 0px 0px 30px  black ;
    border: none;
    border-radius: 50px;
    height: 50px;
    align-content: center;
    z-index: 2;
    color: #ffffff;
    width: 80%;
    background: linear-gradient(90deg, #5E25FF 15%,#5E25FF 15% , #FF0000 );
    transition: 1s;
}

.btn-zap:hover{

    transition: 1s;
    transform: scaleY(1.1) scaleX(1.1);
}

.img-zap{

    height: 30px;

}

/* .circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130vh;
    background: linear-gradient(90deg, #5E25FF 15%,#5E25FF 15% , #FF0000 );
    clip-path: circle(65% at bottom right);
    z-index: 1;
}

.forma{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160vh;
    background: linear-gradient(90deg, #5E25FF 15%, #5E25FF 15% , #FF0000 );
    clip-path: circle(65% at bottom center);
    z-index: 1;
} */


#icones{

    
    display: flex;
    background: linear-gradient(180deg, #060126b0 90%,   #060126 );
    height: 250vh;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 100px;

 }

 .item1 img{

     display: flex;
     height: 150px;
 
 }

 .item2 img{

     display: flex;
     height: 150px;
     
 
 }
 .item3 img{

     display: flex;
     height: 150px;
 
 }

 .item4 img{

     display: flex;
     height: 150px;
 
 }

 .planos{

    height: 100vh;

    background-color: #fff;

}

#exemplos{

    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #060126 1%, #000000 , #000000 );
    gap: 5rem;
    align-items: center;
    padding-block: 5rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: bolder;
    height: 300vh;
    color: #ffffff;
}

.txt{

    /* background: linear-gradient(60deg, #09013d 20% , #9D0022 ); */
    color: #fff;
    border-radius: 40px;
    padding: 1rem

}

.site .exemplo{

    height: 600px;
    border-radius: 30px;
    transition: 1s;

}

.site .exemplo:hover{

    height: 600px;
    transform: translateX(0px) scale(1.1);
    border-radius: 0px;

}


.btn-carrosselleft img{

    display: flex;
    flex-direction: row;
    height: 50px;

}

.btn-carrosselright img{

    display: flex;
    flex-direction: row;
    align-content: center;
    height: 50px;

}


#resposividade{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #060029;
    height: 50vh;
    border-top-left-radius: 15rem;
}


.txtrespon {

    display: block;
    font-size: 35px;
    font-weight: bolder;
    background-image: linear-gradient(90deg, #ffffff 24%, rgb(170, 170, 170)000 15% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 3rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    text-shadow: 0.1em 0.1em  rgba(0, 0, 0, 0) ;
}

.imgrespon{

    display: flex;
    width: auto;
    height: 250px;
    align-self: end;

    



}

#planos{

    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content:center;
    border-top-color: #000000;
    border-top-style: solid;
    border-top-width: 150px;
    background-color: #000000;
    height: 180vh;

}


.plano1{
    display: flex;
    padding: 100px 50px;
    border-radius: 10px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: 1s;
  }
  .plano1 span{
    background: white; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .plano1:before{
    content: '';
    background: linear-gradient(60deg, #23029b 15%, #1c027a 15%, #9D0022 ); 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
  }
  .plano1:after {
    content: '';
    background: black;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    position: absolute;
    border-radius: 8px;
    z-index: -1;
  }

  .plano1:hover{

    transform: scaleX(1.1) scaleY(1.1);
    box-shadow:#FF0000 5px 1px 10px ;


}

.op1{

    display: flex;
    padding-block: 2rem;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.plano2{
    display: flex;
    padding: 100px 50px;
    border-radius: 10px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: 1s;
  }
  .plano2 span{
    background: white; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .plano2:before{
    content: '';
    background: linear-gradient(60deg, #23029b 15%, #1c027a 15%, #9D0022 );  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
  }
  .plano2:after {
    content: '';
    background: black;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    position: absolute;
    border-radius: 8px;
    z-index: -1;
  }

  .plano2:hover{

    transform: scaleX(1.1) scaleY(1.1);
    box-shadow:#5E25FF -5px 1px 10px ;


}

.op2{

    display: flex;
    padding-block: 2rem;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.pé{

    height: 50vh;
    background-color: #000000;


}


@media (max-width: 750px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        right:5vh;
        top: 70px;
    }


    .icon{

        left: 0vh;
        height: 30px;
    
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: block;
        flex-direction: column;
        position: absolute;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);
        text-align: center;
        top: 150px;
        right: 0px;
        width: 50%;
        list-style: none;
        height: 100vh;
        z-index: 3;
        transition: 2s;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-block: 2rem;
        font-family: 'Bricolage Grotesque', sans-serif;
        transition: 1s;
    }

    .nav-item:hover{

        transition: 1s;
        background: linear-gradient(90deg, #5E25FF 15%,#5E25FF 15% , #FF0000 );
        padding: 10px;
        border-radius: 20px;
    
    
    }

    
    .open {
        display: block;

    }



    #home{

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: transparent;
        height: 90vh;
        width: 100%;
    }


    .titulo{

        display: block;
        background-image: linear-gradient(to bottom, #150259 15%, #9D0022);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: rgb(255, 255, 255);
        text-align: left;
        padding-left: 3rem;
        font-family: 'Bricolage Grotesque', sans-serif;
        text-shadow: 0.1em 0.1em  rgb(255, 255, 255) ;
        font-weight: bolder;
        font-weight: bolder;
        padding-left: 3rem;
        padding-block: 3rem;
        font-size: 40px;
        width: 0%;
        z-index: 2;
    }

    .titulo::after{
        content: "|";
    
    }

    .paragrafo{


        display: flex;
        justify-content: center;
        text-align: center;
        padding-inline: 3rem;
        font-size: 17px;
        color: #fff;
        text-shadow: 1px 1px   black ;
        font-weight: 300;
    
    
    }


    .zap{

        display: flex;
        padding-inline: 6rem;
    }


    .btn-zap{

        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bricolage Grotesque', sans-serif;
        font-weight: bolder;
        box-shadow: 0px 0px 30px  black ;
        border: none;
        border-radius: 50px;
        height: 50px;
        align-content: center;
        z-index: 2;
        color: #ffffff;
        width: 100%;
        background: linear-gradient(90deg, #5E25FF 15%,#5E25FF 15% , #FF0000 );
        transition: 1s;
    }

    .btn-zap:hover{

        transition: 1s;
        transform: scaleY(1.1) scaleX(1.1);
    }

    .img-zap{

        height: 30px;
    
    }

    /* .circulo{

        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130vh;
        background: linear-gradient(90deg, #5E25FF 15%,#5E25FF 15% , #FF0000 );
        clip-path: circle(65% at bottom right);
        z-index: 1;
    }
    
    .forma{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130vh;
        background: linear-gradient(90deg, #5E25FF 15%, #5E25FF 15% , #FF0000 );
        clip-path: circle(65% at bottom center);
        z-index: 1;
    } */

    #icones{

       display: flex;
       background: linear-gradient(180deg, #060126b0 90%,   #060126 );
       height: 250vh;
       flex-direction: column;
       color: #fff;
       justify-content: center;
       align-items: center;
       font-size: 20px;
       gap: 100px;

    }

    .item1 img li{

        display: flex;
        height: 150px;
    
    }

    .item2 img{

        display: flex;
        height: 150px;
    
    }
    .item3 img{

        display: flex;
        height: 150px;
    
    }

    .item4 img{

        display: flex;
        height: 150px;
    
    }

    #exemplos{

        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, #060126 1%, #000000 , #000000 );
        gap: 5rem;
        align-items: center;
        padding-block: 5rem;
        font-family: 'Bricolage Grotesque', sans-serif;
        font-weight: bolder;
        height: 300vh;
        color: #ffffff;
    }

    .txt{

        /* background: linear-gradient(60deg, #09013d 20% , #9D0022 ); */
        color: #fff;
        border-radius: 40px;
        padding: 1rem
    
    }

    .site .exemplo{

        height: 600px;
        border-radius: 30px;
        transition: 1s;
    
    }

    .site .exemplo:hover{

        height: 600px;
        transform: translateX(0px) scale(1.1);
        border-radius: 0px;
    
    }


    .btn-carrosselleft img{

        display: flex;
        flex-direction: row;
        height: 50px;
    
    }

    .btn-carrosselright img{

        display: flex;
        flex-direction: row;
        align-content: center;
        height: 50px;
    
    }


    #resposividade{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #060029;
        height: 50vh;
        border-top-left-radius: 15rem;
    }


    .txtrespon {

        display: block;
        font-size: 35px;
        font-weight: bolder;
        background-image: linear-gradient(90deg, #ffffff 24%, rgb(170, 170, 170)000 15% );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: rgb(0, 0, 0);
        text-align: left;
        padding-left: 3rem;
        font-family: 'Bricolage Grotesque', sans-serif;
        text-shadow: 0.1em 0.1em  rgba(0, 0, 0, 0) ;
    }

    .imgrespon{

        display: flex;
        width: auto;
        height: 250px;
        align-self: end;
    
        
    
    
    
    }

    #planos{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top-color: #000000;
        border-top-style: solid;
        border-top-width: 150px;
        background-color: #000000;
        height: 180vh;
    
    }


    .plano1{
        display: flex;
        padding: 100px 50px;
        border-radius: 10px;
        font-weight: bold;
        overflow: hidden;
        position: relative;
        z-index: 0;
        transition: 1s;
      }
      .plano1 span{
        background: white; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      .plano1:before{
        content: '';
        background: linear-gradient(60deg, #23029b 15%, #1c027a 15%, #9D0022 ); 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
      }
      .plano1:after {
        content: '';
        background: black;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        position: absolute;
        border-radius: 8px;
        z-index: -1;
      }

      .plano1:hover{

        transform: scaleX(1.1) scaleY(1.1);
        box-shadow:#FF0000 5px 1px 10px ;
    
    
    }

    .op1{

        display: flex;
        padding-block: 2rem;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    
    }

    .plano2{
        display: flex;
        padding: 100px 50px;
        border-radius: 10px;
        font-weight: bold;
        overflow: hidden;
        position: relative;
        z-index: 0;
        transition: 1s;
      }
      .plano2 span{
        background: white; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      .plano2:before{
        content: '';
        background: linear-gradient(60deg, #23029b 15%, #1c027a 15%, #9D0022 );  
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
      }
      .plano2:after {
        content: '';
        background: black;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        position: absolute;
        border-radius: 8px;
        z-index: -1;
      }

      .plano2:hover{

        transform: scaleX(1.1) scaleY(1.1);
        box-shadow:#5E25FF -5px 1px 10px ;
    
    
    }

    .op2{

        display: flex;
        padding-block: 2rem;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    
    }

    .pé{

        height: 50vh;
        background-color: #000000;
    
    
    }


}





